Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Windows/MyProject/Content/Paks/MyProject-Windows.ucas
Content/sA_PickupSet_1/